{{!< main}}
<div class="container">
    <div id="page-title">
        <h3>NodeJS MySQL CRUD</h3>
    </div>
    
    <hr>
    <div>
        
        <a href="/customers" class="btn btn-primary">Customers CRUD</a>
    
    </div>
    
</div>
