#main{

    margin-top: 30px;
}
#main-content{
    margin-top: 20px;
    margin-bottom: 20px;
}

#page-title{
    margin-top: 20px;
}

#search_section{
    padding: 20px 10px 20px 10px;
    margin-top: 30px;
}