<div id="main">
     <div class="container">
         <div id="page-title">
            <h3>Customers</h3>
        </div>
        <hr>
     </div>


    <div class="container">
            {{#if messages.success}}
            <div class="alert alert-success">{{messages.success}}</div>
            {{/if}}
       
       
        <div class="text-right">
            <a href="/customers/create">
            
            <button class="btn btn-success">Add Customer</button>
            </a>

        </div>

        <div id = "search_section" class="well text-center">
            <form class="form-inline justify-content-center" action="/action_page.php">
                <label for="customer_name">Customer name:</label>
                <input type="text" class="form-control" id="customer_name" placeholder="" name="customer_name">
                 
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

      

        <div id = "list_section" class="well text-center">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
               {{#customers}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>{{email}}</td>    
                </tr>
                {{/customers}}
                </tbody>
            </table>
        </div>

       


    </div>

   

</div>